      <div class="header">
        <h1>
          Twoje konto
          <a href="mailto:<?= mail ?>"><?= mail ?></a> jest
          już gotowe!
        </h1>
      </div>
      <div class="content">
        <h2>Czuwaj!</h2>
        <p>
          Twoje konto w domenie zhr.pl jest już gotowe! Od teraz niech każdy
          Ciebie nie zna inaczej jak <strong><?= mail ?></strong>
        </p>
        <p></p>
        <p>
          Aktywuj swoje konto przez zalogowanie się po raz pierwszy i ustawienie
          nowego hasła. Twoje hasło tymczasowe to
          <strong><?= password ?></strong>. Przy pierwszym logowaniu zostaniesz
          poproszona/y o zmianę hasła.
        </p>
        <h2>Jak to zrobić?</h2>
        <p>
          Logujesz się w aplikacji Gmail (na telefonie lub komputerze). Jeżeli
          jesteś już zalogowana/y musisz wybrać "+ Dodaj konto" po kliknięciu na
          swoje zdjęcie profilowe w prawym górnym rogu.
        </p>
        <p></p>
        <hr />
        <p>
          ❗Jeżeli nie aktywujesz swojego konta, po tygodniu zostanie ono
          automatycznie usunięte.
        </p>
        <p>W razie problemów z zalogowaniem pisz śmiało na admin.wlkp@zhr.pl</p>
      </div>
