      <div class="header">
        <h1>
          Twoje konto
          <a href="mailto:<?= mail ?>"><?= mail ?></a>
          zostało usunięte
        </h1>
      </div>
      <div class="content">
        <h2>Czuwaj!</h2>
        <p>
          Twoje konto w domenie zhr.pl nie zostało aktywowane (nie
          zalogowałaś/eś się), dlatego ze względów bezpieczeństwa zostało
          usunięte.
        </p>
        <p></p>
        <p>
          Czas szybko minął? Nic straconego, jeżeli nadal potrzebujesz maila
          ZHR, możesz po prostu ponownie wypełnić ankietę z prośbą o założenie:
        </p>
        <a href="<?= surveyLink ?>" class="button" style="color: #fff"
          >Założenie skrzynki mailowej @zhr</a
        >
        <hr />
        <p>
          Jeżeli uważasz, że nastąpiła pomyłka, napisz do nas w odpowiedzi na
          tego maila.
        </p>
      </div>
