<div class="header">
  <h1>
    Wybrany adres
    <a href="mailto:<?= mail ?>"><?= mail ?></a>
    jest już zajęty
  </h1>
</div>
<div class="content">
  <h2>Czuwaj!</h2>
  <p>
    Dziękujemy za przesłanie wniosku o założenie konta w domenie zhr.pl. Niestety wybrany przez Ciebie adres
    <strong><?= mail ?></strong> jest już zajęty przez innego użytkownika lub grupę.
  </p>
  <p>
    Twój wniosek został automatycznie odrzucony. Prosimy o kontakt z administratorem w celu ustalenia unikalnego adresu e-mail.
    Możesz odpowiedzieć bezpośrednio na tę wiadomość.
  </p>
  <p>
    Po ustaleniu nowego adresu, administrator wprowadzi zmiany i prześle wniosek do ponownej weryfikacji.
  </p>
  <hr />
  <p>
    Jeżeli uważasz, że nastąpiła pomyłka, napisz do nas w odpowiedzi na tego maila.
  </p>
</div>
