<div class="header">
  <h1>
    Adres
    <a href="mailto:<?= mail ?>"><?= mail ?></a>
    jest już zajęty
  </h1>
</div>
<div class="content">
  <h2>Czuwaj!</h2>
  <p>
    Dziękujemy za przesłanie wniosku o założenie konta w domenie zhr.pl. Niestety wybrany przez Ciebie adres
    <strong><?= mail ?></strong> jest już zajęty przez innego użytkownika lub grupę.
  </p>
  <p>
    Twój wniosek został automatycznie odrzucony. Możesz uzupełnić formularz jeszcze raz lub skontaktować się z administratorem z prośbą o nadanie unikalnego adresu e-mail.
  </p>
  <hr />
  <p>
    Jeżeli uważasz, że nastąpiła pomyłka, napisz do nas w odpowiedzi na tego maila.
  </p>
</div>
