      <div class="header">
        <h1>
          Twój wniosek o konto
          <a href="mailto:<?= mail ?>"><?= mail ?></a>
          został odrzucony
        </h1>
      </div>
      <div class="content">
        <h2>Czuwaj!</h2>
        <p>
          Twój wniosek o założenie konta w domenie zhr.pl nie został potwierdzony przez opiekuna w wyznaczonym czasie (7 dni).
        </p>
        <p></p>
        <p>
          Czas szybko minął? Nic straconego, jeżeli nadal potrzebujesz maila
          ZHR, możesz po prostu ponownie wypełnić ankietę z prośbą o założenie:
        </p>
        <a href="<?= surveyLink ?>" class="button" style="color: #fff"
          >Założenie skrzynki mailowej @zhr</a
        >
        <hr />
        <p>
          Jeżeli uważasz, że nastąpiła pomyłka, napisz do nas w odpowiedzi na
          tego maila.
        </p>
      </div>
