      <div class="header">
        <h1>
          Założenie konta
          <a href="mailto:<?= mail ?>"><?= mail ?></a>
        </h1>
      </div>
      <div class="content">
        <h2>Czuwaj!</h2>
        <p>
          Dostaliśmy prośbę o założenie maila
          <?= mail ?>
          dla
          <?= name ?>
          <?= surname ?>.
        </p>
        <p></p>
        <p>
          Jeżeli rozpoznajesz tą prośbę, prosimy o potwierdzenie założenia dla
          niej/niego konta.
        </p>
        <p>
          Aby potwierdzić kliknij w poniższy przycisk (wymaga zalogowania na
          Twoje konto @zhr.pl):
        </p>
        <a href="<?= verificationLink ?>" class="button" style="color: #fff"
          >Potwierdzam!</a
        >
        <p>
          Jeżeli nie rozpoznajesz tej prośby, albo uważasz że nastąpiła pomyłka,
          daj nam znać przez odpowiedź na tego maila.
        </p>
      </div>
